.container-fluid{
    margin: 0px;
    padding: 0px;
}

#backgound{

    width: 100%;
    /* background-size: cover; */
    height: 86vh;

}

#homebody{
    position: relative;
    text-align: center;
    
}
h2{
    color:#ffcd00;
    font-weight: bold;

}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#add-article{

    width: 30%;
    height: 90%;
}
#consult-article{

    width: 30%;
    height: 90%;
}
#consult-article:hover{
    background-color: #ffcd00;
}
#add-article:hover{
    background-color: #ffcd00;
}
#home{
    color: #ffcd00;
    font-weight: bold;
}


