{% extends "skeleton.html.twig" %}
{% block title %}
    Add article || blockchain 
{% endblock title %}

    {% block content %}
        
<section class="addForm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 offset-3 mt-5 form">
                   <h3 style="text-align : center;"> Create an article about Blockchain </h3>
                          {{ form_start(formArticle)}}
                          {{ form_widget(formArticle)}}
                         <a href=""></a> <button class="btn btn-primary" type="submit">Add Article</button>
                          {{ form_end(formArticle)}}
                </div>
            </div>
        </div>
</section>


    {% endblock content %}

