{% extends "skeleton.html.twig" %}

{% block title %}
    All articles || blockchain 
{% endblock title %}

{% block content %}
 <div class="container-fluid">
    <h1 style="text-align: center;">All Article </h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-sm-4 d-flex pb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{article.title}} </h5>
                       
                        <p class="card-text">
                            {{article.content}}
                        </p>  
                        <p class="card-text">
                        Article authored by {{article.author}}
                        </p>                  
                        <br>
                         <p class="card-text" style ="color: red;">
                               Date of creation: {{article.date|date("d/m/Y")}}  
                        </p> 
                          <a href="{{path('one_article', {id:article.id})}}" class="card-link"><button class="btn btn-dark" type="submit">Show more</button></a>
                         <a href="{{path('delete_article', {id:article.id})}}"><button class="btn btn-warning" type="submit">Remove Article</button></a>

                    </div>
                </div>
            </div>
       {% endfor %}
    </div>
</div> 


{% endblock content %}