{% extends "skeleton.html.twig" %}

 {% block title %}
   Edit Article|| blockchain
 {% endblock title %}

      
     {% block content %}
        
<section class="addForm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 offset-3 mt-5 form">
                   <h3 style="text-align : center;"> Create an article about Blockchain </h3>
                          {{ form_start(modif)}}
                          {{ form_widget(modif)}}
                          <a href=""> <button class="btn btn-primary" type="submit">Add Modifications</button></a>
                          {{ form_end(modif)}}
                </div>
            </div>
        </div>
</section>


    {% endblock content %}
