{% extends "skeleton.html.twig" %}
  {% block title %}
  Home || blockchain
  {% endblock title %}

{% block content %}

    <div class="container-fluid" id="homebody">
        <div class="row">
            <div class="  col-12">
                       <img id="backgound" src="images/blockchain.jpeg">
                       <div class="centered">
                           <h2 class="  text-center m-2"> Welcome to the Bockchain blog !</h2>
                          <a href="{{path('add_article')}}"><button id="add-article" type="submit">Add Article</button></a>
                           <a href="{{path('all_articles')}}"> <button id="consult-article" type="submit">consult Articles</button></a>
                        </div>   
            </div>
        </div>
    </div>
{% endblock content %}