{% extends "skeleton.html.twig" %}

 {% block title %}
    Article|| blockchain
 {% endblock title %}

  {% block content %}
      
  <section class="addForm">
      <div class="container-fluid">
          <div class="row">
              <div class=" ">
                  <h1 >{{article.title}}</h1>
                        <p>{{article.content}}.</p>
                        <p>Article authored by  {{article.author}}.</p>
                        <br>
                         <p class="card-text" style ="color: red;">
                               Date of creation: {{article.date|date("d/m/Y")}}  
                        </p> 
                        <a href="{{path('edit_article',{id:article.id})}}"> <button class="btn btn-dark" type="submit">Edit Article</button> </a>
                        <a href="{{path('all_articles',{id:article.id})}}"><button class="btn btn-warning" type="submit">Remove Article </button></a>
              </div>
         </div>
      </div>
   </section>
     


  {% endblock content %}