<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style.css') }}">

    <title>
      {% block title %}
      {% endblock title %}

    </title>
    
</head>

<body>
         <!--Container starts here-->

    <div class="container-fluid">

            <nav class="navbar navbar-light bg-light justify-content-between">
                    <a id="home"class="navbar-brand" href="{{path('home')}}">Home</a>
                        <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search </button>
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Log in </button>
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Sign in  </button>
                        </form>
                  </nav>
{% block content %}
    
{% endblock content %}

<!--Footer starts here-->
    {# <footer class="text-light navbar-light bg-light">
        <div class="container">
                <div class="row">
                    <div class="col-3">
                        <p style="color: Black;">Made with Love by Maroua TNK</p>
                    </div>
                 </div>
        </div>
    </footer> #}
<!--Footer ends here-->
 
 </div>      
 <!--Container ends here-->

    
</body>


</html>
